* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue-600: #00215b;
  --grey-100: #d4d7dd;
  --grey-400: #41444b;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 144px;
  gap: 30px;
  padding: 10px;
  border: #00215b solid 2px;
}

.information-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.information-submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  color: var(--grey-400);
}

.line {
  width: 1179px;
  height: 2px;
  background-color: var(--grey-100);
}

.information-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.navigation-hero {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
